@charset "UTF-8";
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(11, 108, 138) ;
}
header{
   text-align: center;
}
div{
    position: relative;
    top: 10%;
    text-align: center;
}
input{
    width: 70px;
}
section{
    box-shadow: 2px 4px 4px 5px rgba(0, 0, 0, 0.445);
    background-color: white;
    height: 70vh;
    width: 55vw;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
footer {
    text-align: center;
   
}
a{
    color: white;
    text-decoration: none;
}